*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, sans-serif;
  background-color: #efeddf;
  font-size: 16px;
  padding: 15px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.color-switch__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 30px;
  margin-top: 5px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.color-switch__subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
}

.color-switch__btn {
  display: block;
  margin: 30px auto;
  padding: 20px 70px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #f7f7f7;
  background-color: #0f74b8;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.color-switch__btn:hover {
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  color: #000;
  background-color: #f7f7f7;
}

@media (min-width: 1024px) {
  .square {
    width: 150px;
    height: 150px;
  }
}
